<div class="row d-flex justify-content-center align-items-center w-100 mx-auto media-small-form-size-box">
  <form class="card mb-3 rounded-3 p-4 h-auto">
    <div class="mb-3">
      <label for="login" class="form-label">Login</label>
      <input type="text" class="form-control" id="login">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password">
    </div>
    <button type="submit" class="btn btn-primary">Log in</button>
  </form>
</div>
