.fixed-container {
  width: 100%;
  max-width: 400px;
}

.loading-color {
  background-color: rgba(52, 58, 64, 0.8);
  z-index: 99;
}

.console-container {
  height: 700px;
  min-height: 400px;
  resize: vertical;
}

.logs-viewer-console-container {
  height: 70vh;
  min-height: 70vh;
}

.logs-viewer-modal {
  width: 90%;
  max-width: 90%;
}
