<button
  type="button"
  class="btn btn-primary d-flex justify-content-center align-items-center gap-1 mb-3 w-100"
  onclick="window.location.reload()">
  <span class="material-symbols-outlined fs-6">refresh</span> Reload page
</button>
